<app-nav-bar></app-nav-bar>
<div class="container mt-4">
    <!-- <app-course-list></app-course-list> //Removido, utilizando link de rotas agora -->
    <router-outlet></router-outlet> <!-- Define o local do switch de rotas -->

</div>






<!--
{{ title }}
<br/>
{{ name }}
<br/>
<input [ngModel]="name" name=""name >
Atribui a variável "name" ao input
one way data binding - apenas exibe o valor, mas não captura alterações
no input
<br/>
<input [(ngModel)]="name" name=""name >
two way data binding - exibe e captura alterações no input
-->
